<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <h3>Demo表新增数据</h3>
    <form method="post">

        <input class="reginput" type="number" name="id" placeholder="ID" required>
        
        <input class="reginput m-b-20" type="text" name="name" placeholder="name">

        <button class="regbtnx m-b-20" type="submit">新&nbsp;增</button>
       
    </form>
</body>

</html>